.button{
  width: 5rem;
  height: 2rem;
  margin: 1rem 0;
  display: block;
  text-decoration: none;
  color: black;
  background-color: mediumaquamarine;
  cursor: pointer;
  &:hover{
    background-color: rgb(72, 145, 120);
  }
}
.nav-btn{
  width: 10rem;
  line-height: 2rem;
  text-align: center;
}
.input-wrapper{
  width: 500px;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .input{
    width: 75%;
    height: 1.5rem;
    border: 1px solid grey;
    padding: 0.2rem 0.5rem;
  }
}
.todo-list{
  padding: 1rem;
}
