<div class="user-update">
  <a class="button nav-btn" routerLink="/todo">
    TODO
  </a>
  <h2>User update</h2>
  <div>
    <div class="input-wrapper">
      <label for="login">Login:</label>
      <input id="login" placeholder="login" class="input"/>
    </div>

    <div class="input-wrapper">
      <label for="password">Password:</label>
      <input id="password" placeholder="password" class="input"/>
    </div>

    <button class="button" (click)="update()">
      UPDATE
    </button>
  </div>
</div>
